<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>关于此项目</title>
  <link rel="stylesheet" href="../static/home.css">
</head>

<body>
  <div class="container">
    <h1 id="title">关于此项目</h1>
    <p id="description">本系统由宁波赫德KAINGMING班的Jackson搭建</p>
    <p id="moreInfo">该项目使用计算机视觉算法，来帮助我们的用户进行大规模的视力筛查</p>
    <button class="btn" id="backButton" onclick="goBack()">返回首页</button>
  </div>

  <script>
    // 获取 URL 中的语言参数
    const urlParams = new URLSearchParams(window.location.search);
    const lang = urlParams.get('lang');

    // 切换语言
    function switchLanguage() {
      const title = document.getElementById("title");
      const description = document.getElementById("description");
      const moreInfo = document.getElementById("moreInfo");
      const backButton = document.getElementById("backButton");

      if (lang === 'en') {
        title.textContent = "About This Project";
        description.textContent = "This system was built by Jackson from HDNB KAINGMING class";
        moreInfo.textContent = "This project uses computer vision algorithms to help our users conduct large-scale vision screening";
        backButton.textContent = "Back to Home";
      } else {
        title.textContent = "关于此项目";
        description.textContent = "本系统由宁波赫德KAINGMING班的Jackson搭建";
        moreInfo.textContent = "该项目使用计算机视觉算法，来帮助我们的用户进行大规模的视力筛查";
        backButton.textContent = "返回首页";
      }
    }

    // 页面加载时切换语言
    window.onload = switchLanguage;

    // 返回首页函数
    function goBack() {
      const url = lang === 'en' ? "/?lang=en" : "/?lang=zh";
      window.location.href = url;
    }
  </script>
</body>

</html>