
/* 通用样式 */
body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  overflow: hidden;
}

.container {
  text-align: center;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  width: 80%;
  max-width: 500px;
  animation: fadeIn 2s ease-in-out;
}

/* 标题样式 */
h1 {
  font-size: 36px;
  color: #4CAF50;
  animation: slideInFromTop 1s ease-out;
}

/* 动画效果：从上方滑入 */
@keyframes slideInFromTop {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* 动画效果：淡入 */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* 按钮样式 */
.btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #45a049;
}

/* 按钮浮动动画 */
.btn:hover {
  animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}


/* 语言切换按钮和关于按钮样式 */
.language-switcher,
.about-button {
  position: absolute;
  top: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* 语言切换按钮点击时的动画效果 */
.language-switcher:active,
.about-button:active {
  transform: scale(0.95);
  background-color: #f0f0f0;
}

/* 按钮旋转的动画效果 */
@keyframes rotateEffect {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.language-switcher.animate,
.about-button.animate {
  animation: rotateEffect 0.5s ease-in-out;
}

/* 设置按钮的具体位置 */
.language-switcher {
  right: 150px;
  /* 调整间距，增加按钮之间的距离 */
}

.about-button {
  right: 20px;
}